/*seitenübergreifende Formatierung */
body {background-color: #996633;}

#seite {width:1300px;  margin:0px auto; background:#669900; overflow:hidden; border-radius: 5px;}

#kopfbereich {width:1300px;  margin:0px auto; background:#669900;}

#titel {font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; font-size:25px; color:black; background-image: url('../img/sports.png');background-repeat: no-repeat; background-position: right;
	margin-right: 20%;padding: 5px;margin-top: 0px; padding-bottom:30px;} 
a {text-decoration: none}

#anmeldung{cursor: pointer;float :left;text-align: right; position: absolute; top: 0px; width:1260px; margin-top: 5px; margin-right: 12px; margin-left: 12px ; padding: 5px;}
#anmeldung > div{font-weight: bold;}
#message{font-weight: bold;font-size: 20px;}
#Abutton{background-color:maroon; color: white; border: none; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25); border-radius: 5px;}
#name{background-color: #CCFFCC; border: none}
#passwort{background-color: #CCFFCC; border: none}

#navigation  > ul > li  {float: left; list-style: none;}
#navigation > ul {float: left; margin-bottom: 5px; margin-left: 12px;  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25); background-color:maroon; border-radius: 5px;}
#navigation a:link    {color:white; }
#navigation a:visited {color:white;}
#navigation a:active  {color:blue; }
#navigation a:hover   {color:white; background:gray;}
#navigation a:focus   {color:white;}
#navigation > ul  a {float:left; padding: 6px 85px; }
#navigation > ul > li > ul {display: none;}
#navigation > ul > li:hover > ul {display: block; top: 215px; position: absolute; box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);	background-color: maroon;border-radius: 5px;}
#navigation > ul > li > ul >li {position: relative; list-style: none;}

/*index Formatierung*/	
#seiteninhalt-index {margin-left: calc(4%)}
#seiteninhalt-index > h3 {text-align: center;}
#seiteninhalt-index > h2 {text-align: center;}
#seiteninhalt-index > div {display: flex;} 
#seiteninhalt-index > div > form {padding: 10px;}
#seiteninhalt-index > form#vorstand{display: flex;justify-content: center;}

/*div table Fomatierung*/
#seiteninhalt-index > div {display: table; border-collapse:collapse; border: 2px solid black; font-weight: bold; margin: auto;}
div.details{display: inline; height: 80%; border-collapse:collapse; border: 2px solid black; font-weight: bold; text-align: justify; background: white;}
div.content{font-weight: normal; text-align: left;}
div.settings{display: inline;}
div.table {display: table; border-collapse:collapse; border: 2px solid black; font-weight: bold;}
div.trhead {display:table-row; text-align: center; background-color: #800000; border: 2px solid black; color: white;}
div.tr {display:table-row; text-align: center;}
div.td {display:table-cell; border:thin solid black; padding:5px; vertical-align: middle;}
div.tr:nth-child(even) {background-color: #d2cfcf;}
div.tr:nth-child(odd) {background-color: #fff;}

/*regsitrierung Formatierung*/

#beschriftung {float:left; }
#beschriftung > ol > li { height: 31px}
#registrierung {float:left;}
#registrierung > ul > li { height: 31px}


/*angebot Fomatierung*/
#seiteninhalt-angebot{background:#669900; height: auto; margin: 10px}
article.infobox section {
    position: absolute;
    display: block;
    width: 1280px;
    height: auto;
    top: 300px;
    left: 118px;
    background-color: #669900}
article.infobox section h2 {
    position: absolute;
    left: 0;
    top: -30px;
    width: 185.7px;
    height: 50px;
    font-family: Verdana;
    font-size: 15px;
    margin: 0;
    background-color: #669900;
    
    border: solid maroon;
    border-width: 1px 1px 0 0;
    z-index: 1}
article.infobox section:nth-child(2) h2 {
    left: 185.7px;
    z-index: 0}
article.infobox section:nth-child(3) h2 {
    left: 371.4px;
    z-index: -1}
article.infobox section:nth-child(4) h2 {
    left: 557.1px;
    z-index: -2}
article.infobox section:nth-child(5) h2 {
    left: 742.8px;
    z-index: -3}
article.infobox section:nth-child(6) h2 {
    left: 928.5px;
    z-index: -4}
article.infobox section:nth-child(7) h2 {
    left: 1094.2px;
    z-index: -5}
article.infobox section h2 a {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
    text-decoration: none;
    color: maroon}
article.infobox section:target, article.infobox section:target h2 {
    color: white;
    background-color: maroon;
    padding-left:20px;
    z-index: 1}
article.infobox section:target h2 a {
    color: white}

/*table Fomatierung*/
table, th, td {border: 1px solid black; border-collapse: collapse; padding: 0.3em; margin: auto;}
thead {border: 2px solid black; color: white;}

/* Streifen für Kopf */
thead:nth-child(odd) > tr:nth-child(odd) {background-color: #800000;}
/* Streifen für gerade Zeilen */
tbody:nth-child(even) > tr:nth-child(even) {background-color: #d2cfcf;}
/* Streifen für ungerade Zeilen */
tbody:nth-child(even) > tr:nth-child(odd) {background-color: #fff;}
select {width: 200px;}

#save_sportarten > input#sportart {width: 193px;}
#save_sportarten > input#submit {margin-left: 55px;}
#save_sportarten > textarea {display: flex;}
#del_sportarten > input {width: 85px;}


/* Kriterienbox Passwort */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 350px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}
/* Anzeige Kriterium erfüllt */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}

/* Anzeige Kriterium noch nicht erfüllt */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}